{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="row" style="padding-top:40px; padding-bottom: 40px; ">
    <div class="col-3"><p></p></div>
    <div class="col-6">
        <div class="container"
             style="width: 100%; height: 250px; overflow: hidden; padding-bottom: 30px;">
            <img src="{% mediapath object.preview_img %}" class="img-fluid"
                 style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <hr style="border: 0; height: 1px; background-color: #6c757d;">
        <div class="text-header mt-4">
            <h1 class="display-6 text-center fw-normal text-body-emphasis">{{ object.title }}</h1>
        </div>
        <hr style="border: 0; height: 1px; background-color: #6c757d;">
        <div class="container-sm" style="padding-bottom: 10px; width: 100%;
    white-space: pre-wrap; overflow-wrap: break-word; hyphens: auto;">
            <p class="text text-center">{{ object.date_published }}</p>
            <p>{{ object.body }}</p>
        </div>
        {% if user.is_staff %}
        <div class="row justify-content-end" style="padding-top:10px;">
            <div class="row">
                <p class="text text-center">Просмотры: {{ object.views_count }}</p>
            </div>
            <div class="row mt-4 text-center">
                <div class="col">
                    <div class="btn-group">
                        {% if perms.blog.add_blog %}
                        <a href="{% url 'blog:edit_article' object.pk %}"
                           class="btn btn-sm btn-link" style="color: green;">Редактировать</a>
                        {% endif %}
                        {% if perms.blog.delete_blog %}
                        <a href="{% url 'blog:delete_article' object.pk %}"
                           class="btn btn-sm btn-link" style="color: red;">Удалить</a>
                        {% endif %}
                        <a href="{% url 'blog:toggle_publish' object.pk %}"
                           class="btn btn-sm btn-link" style="color: #FE4B09;">
                            {% if object.is_published %}
                            Снять с публикации
                            {% else %}
                            Опубликовать
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-3"><p></p></div>
</div>
{% endblock %}
