{% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md text-center">
            <small class="d-block mb-3 text-body-secondary">&copy; 2023 -  {% now 'Y' %}</small>
        </div>
        <div class="col-6 col-md">
            <h5>Полезное</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Курсы для начинающих</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Курсы для продолжающих</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Задать свой вопрос</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Что нового?</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Ресурсы</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Статьи</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Форум</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Видео-разборы</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Магазин таро</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Команда</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Местонахождение</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'catalog:contact' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>