{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top:40px; padding-bottom: 40px;">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <div class="pricing-header mt-4 mb-4">
                    <h1 class="display-6 text-center fw-normal text-body-emphasis mb-4">Профиль</h1>
                </div>
                <hr style="border: 0; height: 1px; background-color: #6c757d;">
                <div class="container-sm" style="padding-top: 40px; padding-bottom: 80px; width: 70%;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'users:generate_new_password' %}" class="btn btn-primary btn-lg btn btn-danger">Сгенерировать пароль</a>
                    <button type="submit" class="btn btn-primary btn-lg btn btn-secondary">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}