{% extends 'catalog/base.html' %}

{% block content %}

<div class="container border-bottom" style="width: 40%; padding-top: 50px; padding-bottom: 90px;">
    <div class="pricing-header mt-4 mb-4">
        <h1 class="display-4 text-center fw-normal text-body-emphasis mb-4">Контакты</h1>
        <div class="container-sm" style="padding-top: 30px;">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-2">Страна</div>
                <div class="col-lg-2">Россия</div>
            </div>
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-2 mt-2">ИНН</div>
                <div class="col-lg-2 mt-2">5028130412
                </div>
            </div>
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-2 mt-2">Адрес</div>
                <div class="col-md-auto mt-2">Санкт-Петербург, Невский проспект, дом 123, офис 45</div>
            </div>
        </div>
    </div>
</div>
<div class="container-sm" style="padding-top: 40px; padding-bottom: 80px; width: 30%;">
    <form method="post">
        {% csrf_token %}
        <div class="display-4 text-center fw-normal text-body-emphasis mb-4 mt-4"><h3>Свяжитесь с нами:</h3></div>
        <label for="formNameInput" class="form-label mt-2">Имя:</label>
        <input type="text" class="form-control" id="formNameInput" name="name" placeholder="Имя"><br>
        <label for="formPhoneInput" class="form-label">Телефон:</label>
        <input type="text" class="form-control" id="formPhoneInput" name="phone" placeholder="Телефон"><br>
        <label for="formEmailInput" class="form-label">E-mail:</label>
        <input type="email" class="form-control" id="formEmailInput" name="email" placeholder="email"/><br>
        <label for="formMessageInput" class="form-label">Дополнительная информация:</label>
        <textarea class="form-control" id="formMessageInput" name="message"></textarea><br>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <input type="submit" class="btn btn-primary btn-lg btn btn-secondary" value="Отправить"/>
        </div>
    </form>
</div>
{% endblock %}