{% load static %}
{% load my_tags %}

<div class="col-6 mb-1">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
</div>
<h3 class="display-5 text-center fw-normal text-body-emphasis" style="padding-top: 30px;">Товары</h3>
<div class="container" style="padding-top: 50px;">
    <div class="row mb-3">
        {% for object in page_obj %}
        <div class="col-4" style="padding-bottom: 20px;">
            <div class="card shadow-sm" style="height: 600px;">
                <div class="bd-placeholder-img card-img-top"
                     style="height: 200px; overflow: hidden;">
                    <img src="{% mediapath object.preview_img %}" class="img-fluid"
                         style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <div class="card-body" style="height: 250px;">
                    <div class="position-relative">
                        <p class="card-text text-end"
                           style="padding-top: 15px; min-height: 10px; max-height: 10px; font-size: 70%;">
                            {{ object.category }}
                        </p>

                        {% if object.name_product|length > 35 %}
                        <p class="card-text" style="font-size: 120%; padding-top: 10px; padding-bottom: 5px;">
                            <a href="{% url 'catalog:view_product' object.pk %}" style="color: green;">
                                {{ object.name_product|slice:":35" }}...</a>
                        </p>
                        {% else %}
                        <p class="card-text" style="font-size: 120%; padding-top: 10px; padding-bottom: 5px;">
                            <a href="{% url 'catalog:view_product' object.pk %}" style="color: green;">
                                {{ object.name_product }}</a>
                        </p>
                        {% endif %}

                        {% if object.description_product|length > 200 %}
                        <p class="card-text"
                           style="min-height: 120px; max-height: 120px; font-size: 85%;">
                            {{ object.description_product|slice:":200" }}...</p>
                        {% else %}
                        <p class="card-text"
                           style="min-height: 120px; max-height: 120px; font-size: 85%;">
                            {{ object.description_product|slice:":200" }}</p>
                        {% endif %}

                        <p class="card-text" style="font-size: 130%;">{{ object.purchase_price }} руб.</p>
                        <div class="btn-group" style="grid-row: 3">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Добавить в корзину
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}
            <span class="current-page">{{ page_obj.number }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>